<div class ="container">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <app-addform-good (addGood)="onAddGood($event)"></app-addform-good>
  <app-mygoods 
  [title]="'Мебель'"
  [goods] = "getByType(myGoodsType.furnitures)"
  (deleteGoods)="onGoodDelete($event)"
  ></app-mygoods>
  <app-mygoods 
  [title]="'Техника'"
  [goods] = "getByType(myGoodsType.appliances)"
  (deleteGoods)="onGoodDelete($event)"
  ></app-mygoods>
  <app-mygoods 
  [title]="'Книги'"
  [goods] = "getByType(myGoodsType.books)"
  (deleteGoods)="onGoodDelete($event)"
  ></app-mygoods>
  <app-mygoods 
  [title]="'Телефоны'"
  [goods] = "getByType(myGoodsType.phones)"
  (deleteGoods)="onGoodDelete($event)"
  ></app-mygoods>

  
</div>
